<body>
    <div class="preloader ">
        <button class="th-btn preloaderCls">لغو Preloader</button>
        <div class="preloader-inner">
            <div class="loader">
                <span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
    </div>
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo"><a href="home-organic-farm.html"><img src="assets/img/logo.svg" alt="Frutin"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    {% for item in menu_items %}
                    <li class="{% if item.children.all %}menu-item-has-children{% endif %}">
                        <a href="{% url item.url %}">{{ item.title }}</a>
                        {% if item.children.all %}
                        <ul class="sub-menu">
                            {% for child in item.children.all %}
                            <li><a href="{% url child.url %}">{{ child.title }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <header class="th-header header-layout1">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <p class="header-notice">سفارش های 50 دلاری یا بیشتر واجد شرایط ارسال رایگان هستند!</p>
                    </div>
                    <div class="col-auto">
                        <div class="header-links">
                            <ul>
                                <li class="d-none d-sm-inline-block">
                                    <div>
                                        {% if user.is_authenticated %}
                                        سلام {{ user.username }}
                                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" style="background:none;border:none;color:white;cursor:pointer;">
                                                خروج
                                            </button>
                                        </form>
                                        {% else %}
                                        <a href="{% url 'login' %}">لطفا وارد شوید</a>
                                        {% endif %}
                                    </div>
                                </li>
                                <li>
                                    <div class="social-links">
                                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a
                                            href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a><a
                                            href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a><a
                                            href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a><a
                                            href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo"><a href="home-organic-farm.html"><img src="assets/img/logo.svg"
                                        alt="Frutin"></a></div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    {% for item in menu_items %}
                                    <li class="{% if item.children.all %}menu-item-has-children{% endif %}">
                                        <a href="{% url item.url %}">{{ item.title }}</a>
                                        {% if item.children.all %}
                                        <ul class="sub-menu">
                                            {% for child in item.children.all %}
                                            <li><a href="{% url child.url %}">{{ child.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                            <button type="button" class="th-menu-toggle d-block d-lg-none">
                                <i class="far fa-bars"></i>
                            </button>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <div class="header-button">
                                <button type="button" class="simple-icon searchBoxToggler">
                                    <i class="far fa-search"></i>
                                </button>
                                <a href="shop.html" class="th-btn style4">اکنون خرید کنید<i
                                        class="fas fa-chevrons-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>