<body>
    <div class="preloader ">
        <button class="th-btn preloaderCls">لغو Preloader</button>
        <div class="preloader-inner">
            <div class="loader">
                <span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
    </div>
    <div class="sidemenu-wrapper sidemenu-cart d-none d-lg-block ">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget woocommerce widget_shopping_cart">
                <h3 class="widget_title">سبد خرید</h3>
                <div class="widget_shopping_cart_content">
                    <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a><a
                                href="#"><img src="assets/img/product/product_thumb_1_1.jpg" alt="Cart Image">میوه سیب
                                بوسکو</a><span class="quantity">1×<span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>940.00</span></span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a><a
                                href="#"><img src="assets/img/product/product_thumb_1_2.jpg" alt="Cart Image">گل کلم
                                سبز</a><span class="quantity">1×<span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>899.00</span></span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a><a
                                href="#"><img src="assets/img/product/product_thumb_1_3.jpg" alt="Cart Image">پرتقال
                                ماندارین</a><span class="quantity">1×<span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>756.00</span></span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a><a
                                href="#"><img src="assets/img/product/product_thumb_1_4.jpg" alt="Cart Image">موسیر پیاز
                                قرمز</a><span class="quantity">1×<span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>723.00</span></span>
                        </li>
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="#" class="remove remove_from_cart_button"><i class="far fa-times"></i></a><a
                                href="#"><img src="assets/img/product/product_thumb_1_5.jpg" alt="Cart Image">آلبالو
                                قرمز</a><span class="quantity">1×<span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>1080.00</span></span>
                        </li>
                    </ul>
                    <p class="woocommerce-mini-cart__total total"><strong>جمع فرعی:</strong><span
                            class="woocommerce-Price-amount amount"><span
                                class="woocommerce-Price-currencySymbol">$</span>4398.00</span></p>
                    <p class="woocommerce-mini-cart__buttons buttons"><a href="cart.html"
                            class="th-btn wc-forward">مشاهده سبد خرید</a><a href="checkout.html"
                            class="th-btn checkout wc-forward">وارسی</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-search-box d-none d-lg-block">
        <button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#">
            <input type="text" placeholder="دنبال چی میگردی؟"><button type="submit"><i
                    class="fal fa-search"></i></button>
        </form>
    </div>
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center">
            <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo"><a href="home-organic-farm.html"><img src="assets/img/logo.svg" alt="Frutin"></a>
            </div>
            <div class="th-mobile-menu">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="home-organic-farm.html">صفحه اصلی</a>
                        <ul class="sub-menu">
                            <li><a href="home-organic-farm.html">مزرعه ارگانیک</a></li>
                            <li><a href="home-organic-food.html">غذای ارگانیک</a></li>
                            <li><a href="home-mega-shop.html">مگا شاپ</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">درباره ما</a></li>
                    <li class="menu-item-has-children">
                        <a href="#">سرویس</a>
                        <ul class="sub-menu">
                            <li><a href="service.html">سرویس</a></li>
                            <li><a href="service-details.html">جزئیات خدمات</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">صفحات</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#">خرید کنید</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">خرید کنید</a></li>
                                    <li><a href="shop-details.html">جزئیات فروشگاه</a></li>
                                    <li><a href="cart.html">صفحه سبد خرید</a></li>
                                    <li><a href="checkout.html">وارسی</a></li>
                                    <li><a href="wishlist.html">لیست علاقه مندیها</a></li>
                                </ul>
                            </li>
                            <li><a href="team.html">تیم</a></li>
                            <li><a href="team-details.html">جزئیات تیم</a></li>
                            <li><a href="project.html">گالری پروژه</a></li>
                            <li><a href="project-details.html">جزئیات پروژه</a></li>
                            <li><a href="faq.html">صفحه فک</a></li>
                            <li><a href="error.html">صفحه خطا</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">وبلاگ</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">وبلاگ</a></li>
                            <li><a href="blog-details.html">جزئیات وبلاگ</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">مخاطب</a></li>
                </ul>
            </div>
        </div>
    </div>
    <header class="th-header header-layout1">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <p class="header-notice">سفارش های 50 دلاری یا بیشتر واجد شرایط ارسال رایگان هستند!</p>
                    </div>
                    <div class="col-auto">
                        <div class="header-links">
                            <ul>
                                <li class="d-none d-sm-inline-block">
                                    <i class="fal fa-location-dot"></i><a href="https://www.google.com/maps">8502 خیابان
                                        پرستون اینگلوود، مین 98380</a>
                                </li>
                                <li>
                                    <div class="social-links">
                                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a
                                            href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a><a
                                            href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a><a
                                            href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a><a
                                            href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo"><a href="home-organic-farm.html"><img src="assets/img/logo.svg"
                                        alt="Frutin"></a></div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li class="menu-item-has-children">
                                        <a href="home-organic-farm.html">صفحه اصلی</a>
                                        <ul class="sub-menu">
                                            <li><a href="home-organic-farm.html">مزرعه ارگانیک</a></li>
                                            <li><a href="home-organic-food.html">غذای ارگانیک</a></li>
                                            <li><a href="home-mega-shop.html">مگا شاپ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">سرویس</a>
                                        <ul class="sub-menu">
                                            <li><a href="service.html">سرویس</a></li>
                                            <li><a href="service-details.html">جزئیات خدمات</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">صفحات</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="#">خرید کنید</a>
                                                <ul class="sub-menu">
                                                    <li><a href="shop.html">خرید کنید</a></li>
                                                    <li><a href="shop-details.html">جزئیات فروشگاه</a></li>
                                                    <li><a href="cart.html">صفحه سبد خرید</a></li>
                                                    <li><a href="checkout.html">وارسی</a></li>
                                                    <li><a href="wishlist.html">لیست علاقه مندیها</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="team.html">تیم</a></li>
                                            <li><a href="team-details.html">جزئیات تیم</a></li>
                                            <li><a href="project.html">گالری پروژه</a></li>
                                            <li><a href="project-details.html">جزئیات پروژه</a></li>
                                            <li><a href="faq.html">صفحه فک</a></li>
                                            <li><a href="error.html">صفحه خطا</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">وبلاگ</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">وبلاگ</a></li>
                                            <li><a href="blog-details.html">جزئیات وبلاگ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">مخاطب</a></li>
                                </ul>
                            </nav><button type="button" class="th-menu-toggle d-block d-lg-none"><i
                                    class="far fa-bars"></i></button>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <div class="header-button">
                                <button type="button" class="simple-icon searchBoxToggler"><i
                                        class="far fa-search"></i></button><button type="button"
                                    class="simple-icon sideMenuToggler"><span class="badge">5</span><i
                                        class="fa-regular fa-cart-shopping"></i></button><a href="shop.html"
                                    class="th-btn style4">اکنون خرید کنید<i class="fas fa-chevrons-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>