<aside class="sidebar-area">
    <div class="widget widget_search ">
        <form class="search-form">
            <input type="text" placeholder="کلمه کلیدی را وارد کنید"><button type="submit"><i
                    class="far fa-search"></i></button>
        </form>
    </div>
    <div class="widget widget_categories ">
        <h3 class="widget_title">دسته بندی ها</h3>
        <ul>
            <li>
                <a href="blog.html">کشاورزی</a><span>(8)</span>
            </li>
            <li>
                <a href="blog.html">نان و نانوایی</a><span>(10)</span>
            </li>
            <li>
                <a href="blog.html">شیر لبنی</a><span>(12)</span>
            </li>
            <li>
                <a href="blog.html">غذاهای ارگانیک</a><span>(6)</span>
            </li>
            <li>
                <a href="blog.html">سبزیجات تازه</a><span>(8)</span>
            </li>
            <li>
                <a href="blog.html">میوه های تازه</a><span>(11)</span>
            </li>
        </ul>
    </div>
    <div class="widget ">
        <h3 class="widget_title">پستهای اخیر</h3>
        <div class="recent-post-wrap">
            <div class="recent-post">
                <div class="media-img"><a href="blog-details.html"><img src="assets/img/blog/recent-post-1-1.jpg"
                            alt="Blog Image"></a></div>
                <div class="media-body">
                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">عادات غذایی خود را با غذاهای
                            ارگانیک تغییر دهید</a></h4>
                    <div class="recent-post-meta"><a href="blog.html"><i class="far fa-calendar"></i>21 ژوئن 2023</a>
                    </div>
                </div>
            </div>
            <div class="recent-post">
                <div class="media-img"><a href="blog-details.html"><img src="assets/img/blog/recent-post-1-2.jpg"
                            alt="Blog Image"></a></div>
                <div class="media-body">
                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">تغذیه خود را با وعده های
                            غذایی ارگانیک متحول کنید</a></h4>
                    <div class="recent-post-meta"><a href="blog.html"><i class="far fa-calendar"></i>22 ژوئن 2023</a>
                    </div>
                </div>
            </div>
            <div class="recent-post">
                <div class="media-img"><a href="blog-details.html"><img src="assets/img/blog/recent-post-1-3.jpg"
                            alt="Blog Image"></a></div>
                <div class="media-body">
                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">با تغذیه ارگانیک سلامت خود
                            را بهبود بخشید</a></h4>
                    <div class="recent-post-meta"><a href="blog.html"><i class="far fa-calendar"></i>23 ژوئن 2023</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget widget_tag_cloud ">
        <h3 class="widget_title">برچسب های محبوب</h3>
        <div class="tagcloud">
            <a href="blog.html">کشاورزی</a><a href="blog.html">لبنیات</a><a href="blog.html">ارگانیک. آلی</a><a
                href="blog.html">مزرعه</a><a href="blog.html">سبزی</a><a href="blog.html">میوه ها</a>
        </div>
    </div>
</aside>