<aside class="sidebar-area">
    <div class="widget widget_search ">
        <form class="search-form">
            <input type="text" placeholder="کلمه کلیدی را وارد کنید"><button type="submit"><i
                    class="far fa-search"></i></button>
        </form>
    </div>
    <div class="widget widget_categories ">
        <h3 class="widget_title">دسته بندی ها</h3>
        <ul>
            {% for category in catblog %}
            <li>
                <a
                    href="{% url 'blog_by_category' category.id %}">{{category.title}}</a><span>({{category.blog_count}})</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget ">
        <h3 class="widget_title">پستهای اخیر</h3>
        <div class="recent-post-wrap">
            {% for posts in lastposts %}
            <div class="recent-post">
                <div class="media-img">
                    <a href="{% url 'post-detail' posts.id %}">
                        {% if posts.image_file %}
                        <img src="{{ posts.image_file.url }}" alt="Blog Image">
                        {% endif %}
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="post-title">
                        <a class="text-inherit" href="blog-details.html">{{ posts.title}}</a>
                    </h4>
                    <div class="recent-post-meta"><a href="blog.html"><i class="far fa-calendar"></i>{{ posts.created_at}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="widget widget_tag_cloud ">
        <h3 class="widget_title">برچسب های محبوب</h3>
        <div class="tagcloud">
            {% for item in tagblogs %}
            <a href="blog.html">{{item}}</a>
            {% endfor %}
        </div>
    </div>
</aside>