{% extends 'base.html' %}
{% block title %}
moha weblog
{% endblock %}
{% block content %}
<div class="col-xxl-8 col-lg-7">
    {% for blog in page_obj %}
    <div class="th-blog blog-single has-post-thumbnail">
        <div class="blog-img">
            <a href="blog-details.html">
                {% if blog.image_file %}
                <img src="{{ blog.image_file.url }}" alt="Blog Image">
                {% endif %}
            </a>
        </div>
        <div class="blog-content">
            <div class="blog-meta">
                <a class="author" href="blog.html"><i class="far fa-user"></i>توسط {{blog.author}}</a><a
                    href="blog.html"><i class="far fa-calendar"></i>{{blog.created_at}}</a><a
                    href="blog-details.html"><i class="far fa-comments"></i>نظرات ({{ blog.comments.count }})</a>
            </div>
            <h2 class="blog-title"><a href="blog-details.html">{{ blog.title}}</a></h2>
            <p class="blog-text">{{blog.description}}</p>
            <a href="{% url 'post-detail' blog.id %}" class="th-btn btn-sm">ادامه مطلب<i
                    class="fas fa-chevrons-right ms-2"></i></a>
        </div>
    </div>
    {% endfor %}
    <div class="th-pagination text-center">
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li><strong>{{ num }}</strong></li>
                {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}