{% extends 'base.html' %}
{% block title %}
{{ selected_category.title }}
{% endblock %}
{% block content %}
<div class="col-xxl-8 col-lg-7">
    {% if blogs %}
    <p>نام دسته :{{ selected_category.title }} </p>
    {% for blog in blogs %}
    <div class="th-blog blog-single has-post-thumbnail">
            <div class="swiper-wrapper">
                <div class="blog-img">
                    <a href="blog-details.html">
                        {% if blog.image_file %}
                        <img src="{{ blog.image_file.url }}" alt="Blog Image">
                        {% endif %}
                    </a>
                </div>
            </div>
        <div class="blog-content">
            <div class="blog-meta">
                <a class="author" href="blog.html"><i class="far fa-user"></i>{{ blog.author }}</a><a href="blog.html">
                    <i class="far fa-calendar"></i>{{ blog.created_at}}</a><a href="blog-details.html">
                    <i class="far fa-comments"></i>نظرات (3)</a>
            </div>
            <h2 class="blog-title"><a href="blog-details.html">{{blog.title}}</a></h2>
            <p class="blog-text">{{blog.context}}</p>
            <a href="{% url 'post-detail' blog.id %}" class="th-btn btn-sm">ادامه مطلب<i
                    class="fas fa-chevrons-right ms-2"></i></a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>مطلبی منتشر نشده است</p>
    {% endif %}
</div>
{% endblock %}